<div class="modal fade in" tabindex="-1" role="dialog">
    <div class="modal-backdrop"></div>
    <div class="modal-dialog"
         ng-class="{'modal-sm': $size == 'sm', 'modal-lg': $size == 'lg','center':$placement=='center'}">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body" ng-bind="content"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$ok()">确定</button>
                <button type="button" class="btn btn-default" ng-click="$hide()">取消</button>
            </div>
        </div>
    </div>
</div>