@layout-aside-height:      40px;
@layout-aside-width:       240px;

.layout{
  position: relative;
  .lay-n, .lay-s, .layout-e, .lay-w {
    position:absolute;
  }

  .lay-n, .lay-s {
    height: @layout-aside-height;
    width: 100%;
  }
  .lay-e, .lay-w {
    width: @layout-aside-width;
    height: 100%;
  }

  .lay-n {
    top: 0;
  }
  .lay-s {
    bottom: 0;
  }
  .lay-e {
    right: 0;
  }
  .lay-w {
    left: 0;
  }
  .lay-c {
    width: 100%;
    height: 100%;
  }
  .lay-scroll {
    overflow: auto;
  }

  .lay-n-default {
    border-bottom: 1px solid #E2E2E2;
  }
}

.lay-default {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.lay-wi-n {
  padding-top: @layout-aside-height;
}

.lay-wi-s {
  padding-bottom: @layout-aside-height;
}

.lay-wi-ns {
  padding: @layout-aside-height 0;
}

.lay-wi-e {
  padding-right: @layout-aside-width;
}

.lay-wi-w {
  padding-left: @layout-aside-width;
}

.lay-wi-ew {
  padding: 0 @layout-aside-width;
}

